@import'../../styles/variables.styl';

.login
	&-form
		width 100%
		max-width 400px
		box-shadow $blockBoxShadow
		padding 1rem
		border-radius 3px
		&__not-valid
			box-shadow $blockBoxShadowNotValid
		&-header
			text-align center
			text-transform uppercase
			color $baseTextColor
.input-group
	margin 2em 0