.header
	display flex
	min-height 5rem
	&.grid-container
		height auto
	.add-task-panel
		position relative
		width 100%
		&_toggle-btn
			position absolute
			right 1rem
			top 1rem
		.add-task-form-wrapper
			width 100%
			max-width 400px
			position relative
			margin 0 auto